.wrapper {
    border: none;
    background: none;
}

.wrapper:hover {
    cursor: pointer;
}

.wrapper:focus {
    outline: none;
}

.favorites {
    cursor: pointer;
    top: 2px;
    position: relative;
    fill: none;
}


