.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-7deg);
    background-color: #f93b00;
    max-height: 1rem;
}

.badge_text {
    font-size: .8rem;
    color: #fff;
    padding: 0 6px;
    transform: skew(7deg);
}


