.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}

.page_title {
    font-size: 1.2rem;
    font-weight: 700;
}


.products_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    grid-gap: 50px 20px;
}


@media screen and (max-width: 950px) {
    .products_wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

